{% load i18n %}
{% load account_tags %}


<ul class="nav navbar-nav pull-left">
    <li>
        <a href="{% url 'home' %}">{% trans "Home" %}</a>
    </li>
    <li>
        <a href="{% url 'about' %}">{% trans "About" %}</a>
    </li>
    <li>
        <a href="{% url 'policy' %}">{% trans "Policy" %}</a>
    </li>
    <li>
        <a href="{% url 'prices' %}">{% trans "Treatments & Prices" %}</a>
    </li>
    <li>
        <a href="{% url 'contact' %}">{% trans "Contact" %}</a>
    </li>
</ul>

<form id="accountLogOutForm" style="display: none;" action="{% url 'account_logout' %}" method="POST">
    {% csrf_token %}
</form>
