{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Coming Up Roses - About{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}' alt="My image"/>
            </div>
            <!-- <div class="row-fluid">
                <h1 class="col-xs-12 text-center">{% blocktrans %}Welcome to Coming Up Roses{% endblocktrans %}</h1>
            </div> -->
        </div>
    </section>
<section class="intro">
    <div class="container">
    	<p class="lead col-lg-10 col-lg-offset-1 text-justify">
		If you are looking for salon quality, professional treatments made available in the comfort of your own home, you are in the right place.</p>

		<p class="col-lg-10 col-lg-offset-1 text-justify">
		Beauty treatments are there to enhance your natural look, and I offer a range of treatments to make you feel great about yourself. I pride myself in making my clients feel pampered and relaxed.</p>

		<p class="col-lg-10 col-lg-offset-1 text-justify">
		I believe that Beauty Treatments just as much treat the soul as they do the body, and pampering yourself is the best way to escape the stresses of life.
		</p>

		<p class="col-lg-10 col-lg-offset-1 text-justify">
		So why not choose a treatment and have some well deserved 'me' time.
		</p>
	</div>
</section>


{% endblock %}
