{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
    <link href="{% static "css/styles.css" %}" rel="stylesheet" />
    <style type="text/css">
	.btn-nomargin {
	    border: 0;
	    background: #CE5374;
	    color: white;
	}

    .table {
        background-color: #fff;
    }

    thead {
        background-color: #DA9F93;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        border-color: #CE5374;
    }

    .badge {
        background-color: #DA7B28;
        border-radius: 0px;
        font-size: 14px;
        font-family: "niveau-grotesk",sans-serif;
    }

    strong.treatment {
        color: #FF6978;
    }

    section.treatment {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    p.lead-text {
        font-size: 18px;
    }
   
	</style>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
    <script src="https://use.typekit.net/cri2nxi.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
