{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Coming up Roses - About{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}'/>
            </div>
        </div>
    </section>
<section class="intro">
    <div class="container">
      <h2 class="text-center" style="font-family: 'quimby-mayoral',sans-serif;">About Coming Up Roses</h2>
    	<p class="lead col-lg-10 col-lg-offset-1 text-justify">
		If you are looking for salon quality, professional treatments made available in the comfort of your own home, you are in the right place.</p>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-4 col-sm-offset-0 col-xs-12 col-xs-offset-1 feature-image">
        <img src="{% static 'images/photo_shoot/0009.jpg' %}">
      </div>
      <div class="col-lg-8">
    		<p class="col-lg-12 text-justify">
    		Beauty treatments are there to enhance your natural look, and I offer a range of treatments to make you feel great about yourself. I pride myself in making my clients feel pampered and relaxed.</p>

    		<p class="col-lg-12 text-justify">
    		I believe that Beauty Treatments just as much treat the soul as they do the body, and pampering yourself is the best way to escape the stresses of life.
    		</p>

    		<p class="col-lg-12 text-justify">
    		So why not choose a treatment and have some well deserved 'me' time.
    		</p>

        <p class="col-lg-12 text-justify">
        For enquiries, please call on 00000000, or use the <a href="{% url 'policy' %}">contact form</a>. Before booking, please read our <a href="{% url 'policy' %}">policy</a>. 
        </p>
      </div>
    </div>

    
	</div>
</section>
<section class="button-links">
  <div class="container">
    <a class="btn btn-default btn-lg col-lg-3 col-md-4 col-sm-4 col-xs-12 col-sm-offset-1 col-lg-offset-2" href="{% url 'prices' %}" role="button">Treatment and Price List</a>

    <a class="btn btn-default btn-lg col-lg-2 col-md-3 col-sm-3 col-xs-12" href="{% url 'contact' %}" role="button">Contact Me</a>

    <a class="btn btn-default btn-lg col-lg-2 col-md-2 col-sm-2 col-xs-12" href="{% url 'home' %}" role="button">Home</a>
  </div>
</section>
<section class="gallery row">
    <div class="slider col-md-10 col-md-offset-1">
        {% for image in images %}
            <div><img class="" src='{% static "images/"|add:image.image_folder|add:"/"|add:image.image_filename %}'/></div>
        {% endfor %}
    </div>
    <div class="slider-nav col-md-8 col-md-offset-2">
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    $('.slider').slick({
        arrows: false, 
        centerMode: true,
        autoplay: true,
        infinite: true,
        arrows: true,
        responsive: [
        {
          breakpoint: 2300,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            dots: false
          }
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: false
          }
        },
        {
          breakpoint: 753,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2,
            dots: false
          }
        },
        {
          breakpoint: 611,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            dots : false
          }
        }]
    });
</script>
<script src="{% static "js/site.js" %}"></script>
    <script src="https://use.typekit.net/cri2nxi.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
{% endblock %}
