{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}' alt="My image"/>
            </div>
        </div>
    </section>
<section class="intro">
    <div class="container">
    	<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
        </form>
	</div>
</section>

<section class="button-links">
  <div class="container">
    <a class="btn btn-default btn-lg col-lg-3 col-md-5 col-sm-5 col-xs-12 col-sm-offset-2 col-lg-offset-3" href="{% url 'prices' %}" role="button">Treatment and Price List</a>

    <a class="btn btn-default btn-lg col-lg-2 col-md-3 col-sm-3 col-xs-12" href="{% url 'about' %}" role="button">About</a>
  </div>
</section>


{% endblock %}
