{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Coming up Roses - Contact{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}' alt="My image"/>
            </div>
        </div>
    </section>
<section class="intro">
    <div class="container">
        <h2 class="text-center">Contact Me</h2>
        <div class="row">
            <p class="col-lg-10"> Please use the form below for any queries. Alternatively, you can <a href="mailto:contact@cominguproses.co.uk">email me</a>, call me on <b>00000</b>, or connect on <a href="https://www.instagram.com/cominguprosesbeauty/" target="new">Instagram</a> or <a href="https://www.facebook.com/cominguprosesbeauty/" target="new">Facebook</a>.</p>
        </div>
    	<form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
              <button type="submit">Send</button>
            </div>
        </form>
	</div>
</section>

<section class="button-links">
  <div class="container">
    <a class="btn btn-default btn-lg col-lg-3 col-md-5 col-sm-5 col-xs-12 col-sm-offset-2 col-lg-offset-3" href="{% url 'prices' %}" role="button">Treatment and Price List</a>

    <a class="btn btn-default btn-lg col-lg-2 col-md-3 col-sm-3 col-xs-12" href="{% url 'about' %}" role="button">About</a>
  </div>
</section>


{% endblock %}
