{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Coming Up Roses - Treatments and Prices{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}' alt="My image"/>
            </div>
        </div>
    </section>
<section class="intro">
    <div class="container">
    	{% for category in categories %}
            <section class="category col-xs-10 col-xs-offset-1">
                <h2>{{ category.category_name }}</h2>
                <p class="lead-desc text-justify">{{ category.category_description }}</p>
                {% for treatment in category.treatment_set.all %}
                    <section class="treatment">           
                        <strong class="treatment col-lg-3 col-sm-6 col-xs-7">{{ treatment.treatment_name }} </strong> &nbsp; <span class="badge">£{{treatment.treatment_price}}</span>
                    </section>
                {% endfor %}
            </section>
        {% endfor %}
	</div>
</section>

<section class="button-links">
  <div class="container">
    <a class="btn btn-default btn-lg col-lg-3 col-md-4 col-sm-3 col-xs-12 col-sm-offset-2 col-lg-offset-3" href="{% url 'policy' %}" role="button">Policy</a>

    <a class="btn btn-default btn-lg col-lg-3 col-md-4 col-sm-3 col-xs-12" href="{% url 'contact' %}" role="button">Contact Me</a>
  </div>
</section>


{% endblock %}
