{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
<section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% load static %}
            <div class="row-fluid">
                <img class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-xs-12" src='{% static "images/logo.png" %}' alt="My image"/>
            </div>
        </div>
    </section>
<section class="intro">
    <div class="container">
    	{% for category in categories %}
            <h2>{{ category.category_name }}</h2>
            <p class="col-xs-12">{{ category.category_description }}</p>
            <table class="table col-xs-12">
            <thead>
                <tr>
                    <th>Treatment</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
            {% for treatment in category.treatment_set.all %}                
                    <tr>
                        <td class="col-md-3 col-xs-3"><strong>{{ treatment.treatment_name }}</strong></td>
                        <td class="col-md-8 col-xs-12">{{ treatment.treatment_descripton }}</td>
                        <td class="col-md-1 col-xs-12"><span class="badge">£{{treatment.treatment_price}}</span></td>
                    </tr>                
            {% endfor %}
            </table>
        {% endfor %}
	</div>
</section>


{% endblock %}
